.tg_product_quick_view {
    // Firefox
    scrollbar-width: none;

    // Internet Explorer and Edge
    -ms-overflow-style: none;

    // Chrome, Safari, Opera
    &::-webkit-scrollbar {
        display: none;
    }

    .o_wsale_product_images {
        .full_product_link {
            text-align: center;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                i {
                    font-size: 2rem;
                }
            }
        }
    }

    #product_details {
        h1 {
            font-size: 2rem;
            font-weight: 700;
            min-height: calc(2rem * 2);
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        p.text-muted.my-2 {
            min-height: calc(1rem * 3);
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}